body {
  background: rgba(0, 191, 255, 0.6);
  color: rgba(255, 255, 245, 0.9);
}

.top-level {
  display: flex;
}

.router {
  padding: 1em;
  padding-left: 1.5em;
}

.link {
  text-decoration: none;
}

.title {
  font-size: 3em;
}

.time {
  font-size: 2em;
}

.button {
  padding: 1em;
}
